<header class="header">
    <a href="/" class="header_logo">Node js</a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Cotact</a>
            </li>
        </ul>
    </nav>
    <div class="header_button">
        <button>
            Logout
        </button>
    </div>
</header>